*{
    font-family: 'Chela one',cursive;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(252, 249, 251);
    color: #933dc9;
    width: 100%;
}

.myTitle{
    display: block;
    margin: 0.5rem auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

header{
    color: #933dc9;
}
.sortingAlgos{
    margin: 1rem 0rem;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    box-shadow: 2px 2px 4px black;
}
.singleSortingAlgo{
    text-align: center;
    align-items: center;
    -webkit-transition: .2s;
    transition: .3s;
    cursor: pointer;
}
.sortButtonClicked{
    background-color: #33ffa9;
    color: black;
    font-weight: bold;
}

.singleSortingAlgo:hover{
    background-color: #933dc9;
    color: white;
    box-shadow: 2px 2px 4px black;
}

.arraySize{
    margin: .8rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.arraySize h1{
    font-size: 1rem;
    background-color: #933dc9;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: .6rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width:8%;
    text-align: center;
    margin-left: .5rem;
}

.arraySizeInput{
    width: 40%;
    margin: 0 1rem;
    height: 2rem;
    font-size: 1rem;
}


  input[type=range] {
    height: 34px;
    margin: 10px 0;
    width: 30vw;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #933dc9;
    border-radius: 1px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #933dc9;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #933dc9;
    border-radius: 1px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #933dc9;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #933dc9;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000031;
    border: 1px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #933dc9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #933dc9;
  }
  

  .arrayBars{
    background-color: #FFFFFF;
    margin: .5rem;
    display: flex;
    height: 72vh;
    /* border: 1px solid white; */
  }